
/* header styles */
.header{
        background-image: url('../Assets/Hero-bg.png');
        width: 1440px;
        height:700px;
        text-align: center;
        padding: 10px;
    }
/* General Styles */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

nav ul li{
    list-style: none;;

}

/* website-name/logo */
.website-name {
    font-size: 35px;
    color: #4E47FF;
    padding: 10px;
    position: relative;
    left: 150px;

}
/* button styles 1*/
.button-color{
    background-color: #4E47FF;
    color: white;
    border: none;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    right: 150px;
}


/* banner styles */

.banner{
    color: #252432;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 152px;
    margin-right: 152px;
    margin-bottom: 50px;
    text-align: center;
    
}
/* button styles 2 */
.button-color2{
    position: relative;
    margin-top: 30px;
    margin-bottom: 150px;
    bottom: 50px;
    background-color: #4E47FF;
    color: white;
    border: none;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


/* main section style */

.main-content{
    display: flex;
}



.Section-name{
    font-size: 40px;
    font-weight: bold;
    color:#252432;
    margin-left: 141px;
    margin-top: 178px;
}

.section-description{
    font-size: 24px;
    font-weight: regular;
    color:#252432;
    margin-left: 141px;
    margin-top: 5px;

}

section ul li{

    list-style: none;
}



.button-color3{
    background-color: #4E47FF;
    color: white;
    border: none;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 100px; 
    margin-top: 5px;
}

.preview-image{
width: 430px ;
height: 328px ;
border-radius: 48px;
    margin-left: 325px;
    margin-top: 116px;
}

